header {
	background-color: #222;
	overflow: hidden;
	text-align: center;
	padding: 20px;
}

header h1 {
	color: #fff;
	display: inline-block;
	line-height: 1;
	margin: 0;
	text-transform: uppercase;
	width: auto;
}

header h1 span {
	display: block;
}

header h1 span:nth-child(1) {
	font-size: 24px;
}

header h1 span:nth-child(2) {
	font-size: 18px;
}

header h1 span:nth-child(3) {
	font-size: 16px;
}

.container {
	margin: 0 auto;
	max-width: 540px;
	padding: 60px 20px;
}

.register-button {
	margin-top: 20px !important;
}
